 .u-section-1 {
  background-image: none;
  min-height: 665px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/-min.jpg");
  min-height: 728px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 393px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 245px;
  height: 3px;
  transform-origin: left center;
  margin: 87px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 5px 1px 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 370px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: ExtraBold;
  padding-top: 8px;
  padding-bottom: 8px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 370px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-family: ExtraBold;
  font-weight: 700;
  margin: 0 1px 0 11px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  font-family: ExtraBold;
  font-style: normal;
  margin: 20px 1px 0 11px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 14px 0 0 11px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 15px auto 0 11px;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 7px 5px 0 11px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 728px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 305px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 73px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1506px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 820px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 907px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: NaNpx;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1595px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 691px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 1077px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1348px;
  }

  .u-section-1 .u-image-1 {
    min-height: 376px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 678px;
  }
}@font-face {
  font-family: 'ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ExtraBold.ttf);
}